*{
    padding: 0PX;
    margin: 0PX;
}
#container{
    left: 15%;
    top: 32%;
    width: 90%;
    height: 80vw;
/*     overflow: hidden; */
    overflow-y: hidden;
    overflow-x: scroll;
    
} 
#area{
    height: 3vw;
}
#in{
    height: 1vw;
}
body{
/*     overflow: hidden; */
    overflow-y: hidden;
    overflow-x: scroll;
}
#anchor{
    margin-left: 6vw;
    color: white;
    text-decoration: none;
    letter-spacing: 0.5vw;
    font-size: 2vw;
    font-weight: bolder;
}
#signheading{
    margin-top: 2vw;
}
#sign{
    margin-right: 15vw;
}
